# Maven
target/
*.jar
*.war
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Node
node_modules/
build/
.pnp.*

# IDE files
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
bin/

# Log files
*.log
logs/

# OS files
.DS_Store
Thumbs.db
